@media screen and (prefers-reduced-motion: no-preference) {
    html, body
    {
        scroll-behavior: smooth;
    }
}

body {
    padding-top: 105px;
    padding-bottom: 20px;
}

@media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1200px;
    }
}

@media (min-width: 1400px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1400px;
    }
}

@media (min-width: 1600px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1600px;
    }
}

@media (min-width: 1800px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1800px;
    }
}

@media (min-width: 2000px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 4000px;
    }
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.search-btn, .search-btn:hover, .search-btn:active, .search-btn:focus {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    background-color: white !important;
}

.search-btn i {
    color: #666666;
    padding-right: 0.5em;
}

.search-btn:hover i {
    color: black;
}

.dropdown-menu {
    border: none;
}

.bg-light {
    background-color: #F6EAE9 !important;
}

.bg-lighter {
    background-color: #F9F0EF !important;
}

.btn-primary {
    background-color: #B06060 !important;
}

.btn-primary:hover {
    background-color: #555 !important;
}

/*remove ugly border on button click*/
.no-focus-outline, .no-focus-outline:focus, .no-focus-outline:active {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}

.no-border {
    border: none !important;
}

.card {
    display:inline-block;
    margin-right: 16px;
    margin-bottom: 20px;
}

.card-title {
    letter-spacing: 0.1em;
    font-size: 18px;
}

.card-link, .card-link:hover {
    text-decoration: none !important;
    color: #444444 !important;
}

.card-link:hover {
    color: black !important;
}

div.card:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.2) !important;
}

.nav-link, .dropdown-item {
    font-weight: 500 !important;
    letter-spacing: 0.1em; 
    color: #666666 !important;
    margin-right: 0.3em;
    font-size: 16px;
}

h1 {
    letter-spacing: 0.1em;
}

.nav-link:hover, .dropdown-item:hover {
    color: black !important;
}

.dropdown-item, .dropdown-item:focus, .dropdown-item:hover, .dropdown-item:active {
    background-color: #F9F0EF !important;
}

/*style for animated hamburger menu icon**************************************************/
.animated-icon2 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon2 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon2 span {
    background: #333333;
}

.animated-icon2 span:nth-child(1) {
    top: 0px;
}

.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
    top: 10px;
}

.animated-icon2 span:nth-child(4) {
    top: 20px;
}

.animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
}
/**********************************************************************************/
/*.sticky {
    position: fixed;
    top: 80px;
    left: 70px;
    max-width: 300px;
}
*/
.sidenav {
    width: 100%;
    z-index: 1;
    overflow-x: hidden;
    padding: 8px 0;
    margin-bottom: 16px;
}

#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 50px; /* Place the button at the bottom of the page */
    right: 50px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    background-color: #B06060; /* Set a background color */
    border-radius: 50%; /* Rounded corners */
    font-size: 28px; /* Increase font size */
    height: 60px;
    width: 60px;
    color: white;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 24px 0 rgba(0, 0, 0, 0.2) !important;
}

#topBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

.shadow {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.07), 0 8px 22px 0 rgba(0, 0, 0, 0.07) !important;
}